# Acceptance of the Ping Identity EULA
PING_IDENTITY_ACCEPT_EULA=YES

# PF Base URL \ SAML EntityID
PF_BASE_URL=https://ext-docker.cpricedomain.ping-eng.com:9031

# PF Logging Level
PF_LOG_LEVEL=INFO

# PD User Base DN 
# Default for PD is `dc=example,dc=com`
USER_BASE_DN=dc=example,dc=com

# PD Variables
BASE_CLASS=domain
BASE_ATTRIBUTE=dc: example.com
USER_ORG_BASE=example.com
USER_BASE_DN=dc=example.com

# PAP Variables
PAP_HOST=int-docker.cpricelab.com
PAP_SECRET=2FederateM0re